{% extends "headerfooter.html" %}

{% block title %} Gallery {% endblock title %}
{% block page %}
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#studioMenu" aria-controls="studioMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i> Menu</button>

                            <div class="collapse navbar-collapse" id="studioMenu">
                                <!-- Menu Area Start  -->
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
	                                    <a class="nav-link" href="/">Home</a>
                                    </li>
                                    <li class="nav-item">
	                                    <a class="nav-link" href="about">About</a>
                                    </li>
                                    <li class="nav-item">
	                                    <a class="nav-link current" href="gallery">Gallery</a>
                                    </li>
                                    <li class="nav-item">
	                                    <a class="nav-link" href="contribute">Contribute</a>
                                    </li>
                                </ul>
                                </ul>
                                <!-- Menu Area End  -->
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    <!-- Project Area Start -->
    <div class="gallery_area clearfix">
        <div class="container-fluid clearfix">
            <div class="gallery_menu">
                <div class="portfolio-menu">
                    <button class="active btn" type="button" data-filter="*">All</button>
                    <button class="btn" type="button" data-filter=".adamspoint">Adams Point</button>
                    <button class="btn" type="button" data-filter=".oldoakland">Old Oakland</button>
                    <button class="btn" type="button" data-filter=".temescal">Temescal</button>

                </div>
            </div>

            <div class="row portfolio-column">

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item oldoakland life">
                    <img src="../static/images/compressed/1.jpg" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="../static/images/compressed/1.jpg"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item oldoakland">
                    <img src="../static/images/compressed/2.jpg" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="../static/images/compressed/2.jpg"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item oldoakland">
                    <img src="../static/images/compressed/3.jpg" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="../static/images/compressed/3.jpg"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item weddings life">
                    <img src="../static/images/compressed/4.jpg" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="../static/images/compressed/4.jpg"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item oldoakland">
                    <img src="../static/images/compressed/5.jpg" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="../static/images/compressed/5.jpg"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item temescal">
                    <img src="../static/images/compressed/6.jpg" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="../static/images/compressed/6.jpg"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item temescal">
                    <img src="../static/images/compressed/7.jpg" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="../static/images/compressed/7.jpg"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item temescal life">
                    <img src="../static/images/compressed/8.jpg" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="../static/images/compressed/8.jpg"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item temescal">
                    <img src="../static/images/compressed/9.jpg" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="../static/images/compressed/9.jpg"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item temescal">
                    <img src="../static/images/compressed/10.jpg" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="../static/images/compressed/10.jpg"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item adamspoint life">
                    <img src="../static/images/compressed/11.jpg" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="../static/images/compressed/11.jpg"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item adamspoint">
                    <img src="../static/images/compressed/12.jpg" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="../static/images/compressed/12.jpg"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Project Area End -->
{% endblock page %}
